main {
    padding-top: 90px;
}

.add-actual-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-add-job {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 15px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-job-title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

.form-flex-structure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.form-flex-quill {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-structure {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
    width: 100%;
}

.input-name-style {
    font-size: 15px;
}

.input-style {
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.button-add-style {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button-style {
    background-color: darkblue;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

#editor {
    height: 150px;
    box-sizing: border-box;
    width: 100%;
}

@media (max-width: 768px) {
    .container-add-job {
        width: 90%;
    }

    .form-flex-structure {
        flex-direction: column;
        margin-bottom: 0px;
    }

    .form-structure {
        margin-bottom: 10px;
    }
}